

@{
    ViewData["Title"] = "Home Page";
}

@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
        .ToList();
}

@model IEnumerable<Proje.Models.YemekDTO>

<div asp-validation-summary="All" class="text-danger"></div>
@{
    string culture = "", uiculture = "";
    if (Context.Request.QueryString.HasValue)
    {
        string url = Context.Request.QueryString.Value;
        culture = Context.Request.Query["culture"];
        uiculture = Context.Request.Query["ui-culture"];
    }
}

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

    <div class="carousel-inner">
        @foreach (var item in Model)
        {
        <div class="@(item.YemekId==1 ? "carousel-item active" : "carousel-item")">
            <a asp-controller="@item.KategoriAdi" asp-action="Detay" asp-route-id="@item.YemekId">
                <img src="@item.Resim" class="d-block w-100 h-100">
            </a>

        </div>
        }

    </div>

    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<h1 class="my-4">@Localizer["hosgeldiniz"] !</h1>

<!-- Marketing Icons Section -->
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-lg-4 mb-4">
            <div class="card h-100">
                <h4 class="card-header">@item.YemekBaslıgı</h4>
                <div class="card-body">
                    <a href="#">
                        <img src="@item.Resim" class="d-block w-100 h-200">
                    </a>
                </div>
                <div class="card-footer">
                    <a asp-controller="@item.KategoriAdi" asp-action="Detay" asp-route-id="@item.YemekId"class="btn btn-danger">@Localizer["daha"]</a>
                </div>
            </div>
        </div>
    }



</div>
<script>
    function SetCulture(selectedValue) {
        alert(selectedValue);
        var url = window.location.href.split('?')[0];
        var culture = "?culture=" + selectedValue + "&ui-culture=" + selectedValue;
        window.location.href = url + culture;
    }
</script>