@model Proje.Models.Yemek

@{
    ViewData["Title"] = "Details";
}
@if (User.IsInRole("Admin"))
{
    <h1>Details</h1>

    <div>
        <h4>Yemek</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Adi)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Adi)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Tarif)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Tarif)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Resim)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Resim)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.KacKisilik)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.KacKisilik)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.HazirlikSuresi)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.HazirlikSuresi)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PisirmeSuresi)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PisirmeSuresi)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.YuklemeTarihi)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.YuklemeTarihi)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Kategori)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Kategori.KategoriId)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
}
else
{
    <div>
        <a asp-action="Index">Yetkili Değilsiniz!!!</a>
    </div>
}
<script>
    function SetCulture(selectedValue) {
        alert(selectedValue);
        var url = window.location.href.split('?')[0];
        var culture = "?culture=" + selectedValue + "&ui-culture=" + selectedValue;
        window.location.href = url + culture;
    }
</script>