@model IEnumerable<Proje.Models.Yemek>

@{
    ViewData["Title"] = "Index";
}
@if (User.IsInRole("Admin"))
{
    <h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Adi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tarif)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Resim)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.KacKisilik)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HazirlikSuresi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PisirmeSuresi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.YuklemeTarihi)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Kategori)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Adi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tarif)
                    </td>
                    <td>
                        @*@Html.DisplayFor(modelItem => item.Resim)*@
                        <img src="@Url.Content(item.Resim)" class="d-block w-50" asp-append-version="true">
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.KacKisilik)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HazirlikSuresi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PisirmeSuresi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.YuklemeTarihi)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Kategori.KategoriAdi)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <div>
        <a asp-action="Index">Yetkili Değilsiniz!!!</a>
    </div>
}
<script>
    function SetCulture(selectedValue) {
        alert(selectedValue);
        var url = window.location.href.split('?')[0];
        var culture = "?culture=" + selectedValue + "&ui-culture=" + selectedValue;
        window.location.href = url + culture;
    }
</script>